<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="%GOOGLE_CODE%" />
  <title>DappSpec </title>

  <meta name="description"
    content="%DAPP_SPEC%." />
  <meta name="keywords" content="%KEYWORDS%" />
  <meta property="og:title" content="%PUBLIC_TITLE%" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <meta property="og:url" content="%PUBLIC_URL%" />
  <meta property="og:description"
    content="%DAPP_SPEC%" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="https://unpkg.com/latex.css/style.min.css" />
  <link rel="stylesheet" href="prism/prism.css" />
</head>

